<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the users_init() hook (in hooks/users.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="users-name-<%%VALUE(id)%%>" class="users-name"><%%VALUE(name)%%></td>
		<td id="users-email-<%%VALUE(id)%%>" class="users-email"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="users-address-<%%VALUE(id)%%>" class="users-address"><%%VALUE(address)%%></td>
		<td id="users-country-<%%VALUE(id)%%>" class="users-country"><%%VALUE(country)%%></td>
